

.plans {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  text-align: center;
  justify-content: baseline;
  justify-items: baseline;
  border: solid 1px var(--Purplish-blue);
  background-color: var(--Alabaster);

  border-radius: 1rem;
}

button:hover {
  background-color: var(--Light-gray);
}

.desc {
  display: flex;
  flex-direction: column;
  line-height: 1px;
  place-items: baseline;
  margin-top: 1rem;
}

.rate {
  color: var(--Cool-gray);
}

.label {
  font-size: 15px;
  font-weight: 700;
}

/* input[type="range"] {
   -webkit-appearance: none;
   -moz-appearance: none; 
   appearance: none;
   width: 3rem;
   height: 1rem;
   border-radius: 1rem;
   margin: 10px ;
 } */

input[type="range"] {
  width: 60px;
  height: 5px;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: var(--Marine-blue);
}

input[type="range"]::-webkit-slider-thumb {
  background-color: var(--White);
  border: 1px solid var(--White);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-moz-range-thumb {
  background-color: var(--White);
  border: 1px solid var(--White);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-ms-track {
  background-color: #eee;
  border-radius: 5px;
}

input[type="range"]::-ms-thumb {
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  display: flex;
  background-color: var(--Light-gray);
  justify-content: center;
  margin-top: 1rem;
  height: 3rem;
  border-radius: 1rem;
}

/* for ContentC */
.free {
  font-size: 15px;
  font-weight: 500;
  color: var(--Marine-blue);
}

@media screen and (min-width: 650px) {
  .plans {
    flex-direction: row;
    
  }

  button {
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 3rem;
    width: 9rem;
    align-items: flex-start;
    height: 10rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: space-between;

  }

  /* for ContentC */
.free {
  min-width: 20ch;
  text-transform: lowercase;
  text-align: start;
}

}
